.btn-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: #3f51b5;
  display: flex;
  align-items: center;
}

.btn-icon.delete {
  color: #d32f2f;
}

.btn-icon.add {
  color: #388e3c;
  align-self: flex-start;
}