.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    input {
        flex: 1;
        padding: 0.7rem 0.7rem 0.7rem 32px;
    }
}

.input-icon {
    position: absolute;
    left: 8px;
    top: 55%;
    transform: translateY(-50%);
    font-size: 20px;
    color: gray;
}

.dropdown-list2 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item2 {
    padding: 0.5rem;
    cursor: pointer;
}

.empleado-block {
  position: relative;
}

.seleccion-final{
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.5rem;
}