.header-secuence {
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    justify-content: space-between;
}


.selected {
    color: var(--color-submenu);
    font-weight: 600;
}

.container-card {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.card {
    flex: 1;
    background: var(--color-bg);
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--color-text);
    text-align: start;

    .card-title {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        font-weight: 500;
    }

    .card-value {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .footer-card {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        color: gray;
    }
}

.card:hover{
  transform:translateY(-4px);
  box-shadow:0 2px 4px rgba(0,0,0,.2);
}

.search-menu{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.6rem;
}

.cliente-info {
    display: flex;
    align-items: center;

    .avatar-circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        margin-right: 8px;
    }

    .cliente-details {
        display: flex;
        flex-direction: column;

        .cliente-name {
            font-weight: 500;
        }

        .cliente-document {
            font-size: 0.9rem;
            color: gray;
        }
    }
}

.cliente-contact {
    align-items: center;
    gap: 0.8rem;

    .cliente-phone {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        font-weight: 500;
        margin-bottom: 0.3rem;
    }

    .cliente-email {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        font-weight: 500;
    }

}

.cliente-car {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: 500;
}

.cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 18px;
}


.card-vehiculo {
    width: 280px;
    border-radius: 18px;
    overflow: hidden;
    color: black;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

    transition: transform .25s ease, box-shadow .25s ease;
    cursor: pointer;
}

.card-vehiculo:hover{
    transform: translateY(-3px);   /* se eleva un poco */
    box-shadow: 0 2px 6px rgba(0,0,0,.45);  /* sombra más profunda */
}

.image{
    width: 100%;
    height: 160px;
    overflow: hidden;
}

/* Imagen interna */
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
    transition: transform .35s ease;
    display: block;
}
.card-vehiculo:hover .image img{
    transform: scale(1.2);
}
/* Contenido */
.card-details {
    padding: 18px;
}

/* Título */
.card-description {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

/* Año y color */
.card-anio-color {
    font-size: 13px;
    color: #a3a3a3;
    margin-bottom: 14px;
}

.icon {
    display: flex;
    align-items: center;
    gap: 0.5rem
}

/* Bloques de info */
.card-subDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 0;
    font-size: 13px;
    color: #a3a3a3;
}

.description-subDetail {
    font-size: 14px;
    color: var(--color-text);
}

.card-subDetails i {
    margin-right: 6px;
    color: #a8a8ff;
}

/* Línea final opcional */
.card-details hr {
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, .1);
    margin: 10px 0;
}


.color {
    color: var(--color-text);
}

.subTitle {
    color: var(--color-text);
    font-size: 1rem;
}

///TABLA 
.table-container {
    border: 1px solid #ddd;
    border-radius: 6px;
    background: var(--color-bg);
    font-family: Arial, sans-serif;
}

.table-body {
    height: 62vh;
    overflow-y: auto;
}

.table-scroll {
    overflow-x: auto;
}

.table-actions {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;

    .table-actions-container {
        display: flex;
        gap: 10px;
    }
}

.btn {
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.btn-create {
    color: var(--color-primary);
    background: var(--color-primary);
    color: white;
    border-radius: 1rem;
    font-weight: 600;
}

.btn-edit {
    color: gray;
    background: transparent;
}

.btn-remove {
    color: var(--color-primary);
    background: transparent;
}

.btn-refresh {
    color: var(--color-primary);
    background: transparent;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 1200px;
}

.custom-table th,
.custom-table td {
    border-bottom: 1px solid #eee;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
}

.custom-table th {
    font-weight: bold;
    color: var(--color-text);
}

.custom-table td {
    color: var(--color-text);
}

.custom-table tbody tr:hover {
    color: #000;
}

.custom-table thead th {
    position: sticky;
    top: 0;
    background-color: var(--color-bg);
    z-index: 2;
}



.pagination {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    font-size: 14px;

    span {
        color: var(--color-text);
    }
}

.paginacion-icon {
    background: none;
    border: none;
    padding: 4px;
    margin: 0 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginacion-icon:disabled {
    cursor: not-allowed;
    opacity: 0.4;
    /* se ve apagado cuando está deshabilitado */
}

.paginacion-icon mat-icon {
    font-size: 24px;
    color: var(--color-text);
    /* color del icono */
}

.select {
    padding: 10px 40px 10px 10px;
    border-radius: 4px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 8px center;
    background-color: #fff;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 50vw;
    width: 20vw;

    input {
        width: 100%;

    }
}

.icon-menu{
    cursor: pointer;
}

.filtersContainer {
    display: flex;
    gap: 1rem;
    margin-bottom: 10px;
}

.input {
    padding: 0.7rem 0.7rem 0.7rem 32px;

}

.input-icon {
    position: absolute;
    left: 8px;
    top: 55%;
    transform: translateY(-50%);
    font-size: 20px;
    color: gray;
}



@media (max-width: 900px){
  .cards-container{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
    .table-actions-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px !important;
    }
}