<app-header></app-header>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <select class="select">
        <option value="" disabled selected>Seleccionar Tienda</option>
        <option value="Empresa 1">Tienda 1</option>
        <option value="Empresa 2">Tienda 2</option>
        <option value="Empresa 3">Tienda 3</option>
      </select>
      <div *ngFor="let item of menuItems">
        <div class="menu" (click)="toggleMenu(item)">
          <div class="margin-item-left">
            <mat-icon matListIcon>{{ item.icon }}</mat-icon>
            <span matLine>{{ item.label }}</span>
          </div>
          <mat-icon class="margin-item-right">
            {{ item.open ? "expand_less" : "expand_more" }}
          </mat-icon>
        </div>

        <div *ngIf="item.open" style="padding-left: 16px">
          <div
            *ngFor="let child of item.children"
            class="back-hover"
            [routerLink]="child.route"
            routerLinkActive="active"
          >
            <span>{{ child.label }}</span>
          </div>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
