.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    input {
        flex: 1;
        padding: 0.7rem 0.7rem 0.7rem 32px;
    }
}

.input-icon {
    position: absolute;
    left: 8px;
    top: 55%;
    transform: translateY(-50%);
    font-size: 20px;
    color: gray;
}


.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    padding: 0.5rem;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.dropdown-list2 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item2 {
    padding: 0.5rem;
    cursor: pointer;
}

.dropdown-item2:hover {
    background-color: #f1f1f1;
}

.container-fac {
    display: flex;
}

.labelCard {
    font-size: 0.9rem;
    color: #555;
}

.flexColum {
    display: flex;
    flex-direction: column;
}

.tipoComprobante {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.addClient {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;

    &:hover {
        background-color: #fafafa;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        transform: translateY(-1px);
    }
}

.tipoCliente {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 0.6rem;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
        background-color: #fafafa;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        transform: translateY(-1px);
    }

    &.seleccionado {
        background-color: #ff0000;
        color: white;
        border-color: #ff0000;
        box-shadow: 0 0 6px rgba(255, 0, 0, 0.4);
    }
}

.delete {
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
}

.chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    margin-top: 0.5rem;
}

.chip {
    display: flex;
    align-items: center;
    background-color: #ffe8e5;
    color: var(--color-primary);
    padding: 0.3rem 0.6rem;
    border-radius: 1rem;
    font-size: 0.85rem;
    font-weight: 500;
    transition: background 0.2s ease;

    .delete-icon {
        font-size: 16px;
        margin-left: 0.4rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #eb2525;

        &:hover {
            color: #d81d1d;
        }
    }
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 3 columnas iguales */
    gap: 0.5rem;
    /* espacio entre inputs */
}

.info-icon {
    cursor: pointer;
}

.btn-venta {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

@media (max-width: 1200px) {
    .container-fac {
        flex-direction: column;
    }

    .tipoComprobante {
        flex-direction: column;
        gap: 0;

        label {
            margin-bottom: 0.3rem;
        }
    }
}

@media (max-width: 600px) {
    .responsiveInput {
        max-width: 8rem;
    }
}



.titleComprobantes {
    background-color: #ebebeb;
    border-left: 3px solid #bbb;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    width: fit-content;
    color: #000000;
}

.lista-comprobantes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: calc(75vh - 50px);
    /* Ajusta este valor según necesites */
    overflow-y: auto;
    /* Agrega scroll vertical */
    padding-right: 0.5rem;
}

.comprobante-card {
    background: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.comprobante-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.comprobante-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #666;
}

.tipo {
    font-weight: 600;
    color: #eb2525;
}

.comprobante-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    font-size: 1rem;
}

.comprobante-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container2 {
    flex: 1;
    padding: 0 1rem;
}

.serie-numero {
    font-weight: 600;
}

.total {
    font-weight: bold;
    color: #111;
}

.btn-reporte{
    background-color: #07a007;
    color: white;
    padding: 0.5rem 1rem;
}

.btn-more{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-more-reporte{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-Productividad{
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.btn-pdf {
    background-color: var(--color-primary);
    color: white;
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.85rem;
    transition: background-color 0.2s;
}

.btn-anular {
    background-color: black;
    color: white;
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.85rem;
    transition: background-color 0.2s;
}


.btn-pdf:hover {
    background-color: #da1616;
}

.tarjeta-wrapper{
  position: relative;
  display: inline-block;
}

.tarjeta{
  width: 20vw;
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 12px;
  border: 2px solid #ddd;
}

.casilla{
  height: 70px;
  border: 2px dashed #bbb;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  text-align:center;
  font-size: 13px;
  padding: 6px;
  cursor:pointer;
}

.casilla.marcada{
  background: rgba(0, 200, 120, .2);
  border-color: #2ecc71;
}

.casilla.marcada::before {
  content:"✔";
  font-size:26px;
  color:#2ecc71;
}
.casilla.marcada::after  {
  content: attr(data-fecha);
  display: block;
  font-size: 10px;
  margin-top: 4px;
  color: #666;
}


.reset-container{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.btn-reset{
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  cursor: pointer;
  font-size: 13px;
}


.btn-reset:hover{
  background:#e63939;
}


@media (max-width: 900px) {
    .container2 {
        margin-top: 1rem;
    }
}