<div class="dashboard-grid">
  <div class="period-selector">
    <label>Periodo:</label>

    <select [(ngModel)]="mesSeleccionado" (change)="cambiarPeriodo()">
      <option *ngFor="let m of meses" [value]="m.value">
        {{ m.label }}
      </option>
    </select>
  </div>
  <!-- IZQUIERDA — BLOQUES MONTOS + SERVICIOS -->
  <div class="bloques">

    <!-- BLOQUE MONTOS -->
    <div class="card">
      <div class="card-title">
        Venta diaria
      </div>
      <div class="side-info">
        <div class="info-block"  *ngIf="mostrarTotalHoy">
          <div class="title">Día</div>
          <div class="value">S/ {{ totalHoySoles | number:'1.2-2' }}</div>
        </div>

        <div class="info-block">
          <div class="title">Mes</div>
          <div class="value">S/ {{ totalMesSoles | number:'1.2-2' }}</div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas baseChart [data]="chartData" [type]="'bar'" [options]="chartOptions"></canvas>
        </div>


      </div>
    </div>

    <!-- BLOQUE SERVICIOS -->
    <div class="card">
      <div class="card-title">
        Servicios por día (#)
      </div>
      <div class="side-info">
        <div class="info-block" *ngIf="mostrarTotalHoy">
          <div class="title">Por Día:</div>
          <div class="value">{{ totalHoyServicios }}</div>
        </div>

        <div class="info-block">
          <div class="title">Por Mes:</div>
          <div class="value">{{ totalMesServicios }}</div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas baseChart [data]="chartServiciosData" [type]="'bar'" [options]="chartOptions"></canvas>
        </div>


      </div>
    </div>

  </div>

  <!-- DERECHA — TOP SERVICIOS -->
  <div class="dashboard-container" [ngClass]="{'solo-mes': !mostrarTotalHoy}">
    <div class="top-grid" [ngClass]="{'one-column': !mostrarTotalHoy}">

      <div class="card" *ngIf="mostrarTotalHoy">
        <div class="card-title">
          Ventas del día (S/)
        </div>

        <div class="chart-wrapper">
          <canvas baseChart [type]="'bar'" [data]="chartTopDia"
            [options]="{indexAxis:'y', plugins:{legend:{display:false}}}"></canvas>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          Ventas del mes (S/)
        </div>

        <div class="chart-wrapper">
          <canvas baseChart [type]="'bar'" [data]="chartTopMes"
            [options]="{indexAxis:'y', plugins:{legend:{display:false}}}"></canvas>
        </div>
      </div>

    </div>

    <div class="top-grid" [ngClass]="{'one-column': !mostrarTotalHoy}">

      <div class="card" *ngIf="mostrarTotalHoy">
        <div class="card-title" >
          Ventas del día (#)
        </div>

        <div class="chart-wrapper">
          <canvas baseChart [type]="'bar'" [data]="chartTopDiaCantidad"
            [options]="{indexAxis:'y', plugins:{legend:{display:false}}}"></canvas>
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          Ventas del mes (#)
        </div>

        <div class="chart-wrapper">
          <canvas baseChart [type]="'bar'" [data]="chartTopMesCantidad"
            [options]="{indexAxis:'y', plugins:{legend:{display:false}}}"></canvas>
        </div>
      </div>

    </div>

  </div>

</div>


<!-- COMPARATIVOS -->
<div class="comparativo-grid">

  <div class="card">
    <div class="card-title">Comparativo mensual (S/)</div>
    <div class="chart-wrapper2">
      <canvas baseChart [type]="'bar'" [data]="chartComparativoData" [options]="chartOptions"></canvas>
    </div>
  </div>
  <div class="comparativo-circles" [ngClass]="{'one-column': !mostrarTotalHoy}">

    <!-- Diario -->
    <div class="card" *ngIf="mostrarTotalHoy">
      <div class="card-title">
        Comparativo Diario <small>(Hoy vs Ayer)</small>
      </div>

      <div class="circle-wrapper">
        <canvas baseChart [type]="'doughnut'" [data]="circleDiarioData" [options]="circleOptions">
        </canvas>
      </div>

      <div class="circle-info">
        <div><b>Hoy:</b> S/ {{ compDiario?.actual | number:'1.2-2' }}</div>
        <div><b>Ayer:</b> S/ {{ compDiario?.anterior | number:'1.2-2' }}</div>
        <div class="pct" [class.up]="(compDiario?.porcentaje ?? 0) >= 0"
          [class.down]="(compDiario?.porcentaje ?? 0) < 0">
          {{ compDiario?.porcentaje | number:'1.0-2' }}%
        </div>
      </div>
    </div>

    <!-- Mensual -->
    <div class="card">
      <div class="card-title">
        Comparativo Mensual <small>(Mes actual vs Mes anterior)</small>
      </div>

      <div class="circle-wrapper">
        <canvas baseChart [type]="'doughnut'" [data]="circleMensualData" [options]="circleOptions">
        </canvas>
      </div>

      <div class="circle-info">
        <div><b>Actual:</b> S/ {{ compMensual?.actual | number:'1.2-2' }}</div>
        <div><b>Anterior:</b> S/ {{ compMensual?.anterior | number:'1.2-2' }}</div>
        <div class="pct" [class.up]="(compMensual?.porcentaje ?? 0) >= 0"
          [class.down]="(compMensual?.porcentaje ?? 0) < 0">
          {{ compMensual?.porcentaje | number:'1.0-2' }}%
        </div>
      </div>
    </div>

  </div>


</div>

<div class="card">
  <div class="card-title">
    Productividad del Personal
  </div>

  <table class="tabla-productividad">
    <thead>
      <tr>
        <th>#</th>
        <th>Empleado</th>
        <th>Importe (S/)</th>
        <th>Cantidad</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of productividad; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ p.empleado }}</td>
        <td class="right">S/ {{ p.importe | number:'1.2-2' }}</td>
        <td class="right">{{ p.cantidad }}</td>
      </tr>

      <tr *ngIf="productividad.length === 0">
        <td colspan="4" class="empty">
          No hay datos de productividad
        </td>
      </tr>
    </tbody>
  </table>
</div>