<h2 mat-dialog-title>
    {{ isEdit ? 'Editar Promoción' : 'Crear Promoción' }}
</h2>

<mat-dialog-content>
    <div class="form-grid" style="display: flex; flex-direction: column; gap: 1rem;">
        <!-- Nombre -->
        <input type="text" class="input" placeholder="Nombre de la promoción *" [(ngModel)]="promo.name" />

        <select class="select" [(ngModel)]="promo.type">
            <option value="" disabled selected>Tipo de descuento *</option>
            <option *ngFor="let t of promotionTypes" [value]="t.value">{{ t.label }}</option>
        </select>

        <!-- Valor -->
        <input type="number" class="input" placeholder="Valor del descuento *" [(ngModel)]="promo.value" />

        <!-- Fecha Inicio -->
         <div style="display: flex; gap: 1rem; justify-content: space-between;">
             <div style="display: flex; flex-direction: column; flex: 1;">
                 <label class="label">Fecha de inicio</label>
                 <input type="date" class="input" [(ngModel)]="promo.startDate" />
             </div>
     
             <div style="display: flex; flex-direction: column; flex: 1;">
                 <label class="label">Fecha de fin</label>
                 <input type="date" class="input" [(ngModel)]="promo.endDate" />
             </div>
         </div>

    </div>
</mat-dialog-content>

<mat-dialog-actions align="end" style="display: flex; gap: 0.5rem;">
    <button class="btn-cancelar" (click)="cancel()">Cancelar</button>
    <button class="btn-primary" color="primary" (click)="save()"
        [disabled]="!promo.name || !promo.type || !promo.value || !promo.startDate || !promo.endDate">
        {{ isEdit ? 'Actualizar' : 'Crear' }}
    </button>
</mat-dialog-actions>