<h2 mat-dialog-title>
    Agregar Item a Tienda
</h2>

<mat-dialog-content style="display: flex; flex-direction: column; gap: 0.5rem;">
    <div style="font-size: 1rem; font-weight: 500;">Descripcion: {{ item.description }}</div>
    <label>Tienda</label>
    <select class="select" [(ngModel)]="tiendaSeleccionada">
        <option value="" disabled selected>Seleccione...</option>
        <option *ngFor="let tienda of tiendas" [value]="tienda.id">
            {{ tienda.name }}
        </option>
    </select>

    <label>Precio</label>
    <input type="number" [(ngModel)]="item.precio" min="0" placeholder="Ingrese precio" class="input" />
    
    
</mat-dialog-content>

<mat-dialog-actions align="end" style="display: flex; gap: 0.5rem;">
    <button class="btn-cancelar" (click)="cancelar()">CANCELAR</button>
    <button class="btn-primary" color="primary" (click)="guardar()"
        [disabled]="!tiendaSeleccionada || item.precio <= 0">
        Agregar
    </button>
</mat-dialog-actions>