.input-modal {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columnas iguales */
  gap: 0.5rem; /* espacio entre inputs */
}


@media (max-width: 900px) {
  .form-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}

.subTitle{
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container .input2 {
  width: 100%;
  padding-right: 40px; /* espacio para el icono */
  box-sizing: border-box;
}

.password-container .toggle-btn {
  position: absolute;
  right: 8px;
  background: none;
  border: none;
  cursor: pointer;
}

.select {
    padding: 10px 40px 10px 10px;
    border-radius: 4px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 8px center;
    background-color: #fff;
}

.checkbox-label{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
}


.phone-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.phone-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: #3f51b5;
  display: flex;
  align-items: center;
}

.btn-icon.delete {
  color: #d32f2f;
}

.btn-icon.add {
  color: #388e3c;
  align-self: flex-start;
}