<h2 mat-dialog-title class="dialog-title">
    {{ data ? 'Editar Cliente' : 'Nuevo Cliente' }}
</h2>

<mat-dialog-content class="dialog-content">

    <div class="section">
        <div class="subTitle">Información Personal</div>

        <div class="form-grid">

            <!-- Tipo de Documento -->
            <div class="form-field">
                <label class="label">Tipo de Documento *</label>
                <select class="select" [(ngModel)]="selectedDocumentTypeId">
                    <option [ngValue]="null" disabled>Seleccionar</option>

                    <option *ngFor="let item of catalogDocument" [ngValue]="item.id">
                        {{ item.name }}
                    </option>
                </select>
            </div>

            <!-- Número de Documento -->
            <div class="form-field">
                <label class="label">Número de Documento *</label>

                <div class="search-field">
                    <input type="text" class="input" placeholder="Ej: 12345678"
                        [(ngModel)]="cli.documentIdentificationNumber" />

                    <button class="icon-btn" type="button" (click)="consultarDocumento()">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>

            <!-- Nombre / RUC -->
            <div class="form-field">
                <label class="label">Nombre Completo o RUC *</label>
                <input type="text" class="input" placeholder="Ej: Juan Pérez" [(ngModel)]="cli.names" />
            </div>

            <!-- Género -->
            <div class="form-field">
                <label class="label">Género *</label>
                <select class="select" [(ngModel)]="selectedGenderId">
                    <option [ngValue]="null" disabled>Seleccionar</option>

                    <option *ngFor="let item of catalogGender" [ngValue]="item.id">
                        {{ item.name }}
                    </option>
                </select>
            </div>

            <!-- Correo -->
            <div class="form-field full">
                <label class="label">Correo Electrónico</label>
                <input type="email" class="input" placeholder="Ej: correo@empresa.com" [(ngModel)]="cli.email" />
            </div>

        </div>
    </div>

    <div class="section">
        <div class="subTitle">Agregar Dirección adicional</div>
        <!-- aquí luego metes tu lista -->
        <div class="phone-list">

            <!-- Lista de números -->
            <div *ngFor="let num of cli.address; let i = index" class="address-item">

                <!-- Contact name -->
                <input class="input" placeholder="Nombre dirección" appUppercase [(ngModel)]="cli.address[i].addressName" />

                <!-- Contact name -->
                <input class="input" placeholder="Dirección"  appUppercase [(ngModel)]="cli.address[i].address" />

                <!-- Principal -->
                <label class="primary-check">
                    <input type="radio" name="primaryAddress" appUppercase [checked]="cli.address[i].isPrimary"
                        (change)="setPrimaryAddress(i)" />
                    Principal
                </label>
                <!-- Número -->

                <!-- Eliminar -->
                <button class="btn-icon delete" type="button" (click)="removeAddress(i)">
                    <mat-icon>delete</mat-icon>
                </button>

            </div>

            <!-- Botón agregar -->
            <button class="btn-add" type="button" (click)="addAddress()">
                <mat-icon>add_circle</mat-icon>
                Agregar dirección
            </button>

        </div>
    </div>


    <div class="section">
        <div class="subTitle">Agregar Número adicional</div>
        <!-- aquí luego metes tu lista -->
        <div class="phone-list">

            <!-- Lista de números -->
            <div *ngFor="let num of cli.numbers; let i = index" class="phone-item">

                <input class="input" placeholder="Nombre contacto (Opcional)" appUppercase
                    [(ngModel)]="cli.numbers[i].contactName" />

                <!-- Tipo contacto -->
                <select class="select" [(ngModel)]="cli.numbers[i].type">
                    <option [ngValue]="null" disabled>Tipo</option>
                    <option *ngFor="let item of catalogContactTypes" [ngValue]="item.id">
                        {{ item.name }}
                    </option>
                </select>
                <!-- Contact name -->
                <input class="input" placeholder="Número" [(ngModel)]="cli.numbers[i].number" />

                <!-- Principal -->
                <label class="primary-check">
                    <input type="radio" name="primaryNumber" [checked]="cli.numbers[i].isPrimary"
                        (change)="setPrimary(i)" />
                    Principal
                </label>
                <!-- Número -->

                <!-- Eliminar -->
                <button class="btn-icon delete" type="button" (click)="removeNumber(i)">
                    <mat-icon>delete</mat-icon>
                </button>

            </div>

            <!-- Botón agregar -->
            <button class="btn-add" type="button" (click)="addNumber()">
                <mat-icon>add_circle</mat-icon>
                Agregar número
            </button>

        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions class="dialog-actions" align="end">
    <button class="btn-cancelar" (click)="cancelar()">Cancelar</button>

    <button class="btn-primary" (click)="guardar()"
        [disabled]="!cli.names || !selectedDocumentTypeId || !cli.documentIdentificationNumber || !selectedGenderId">
        {{ data ? 'Actualizar' : 'Crear' }}
    </button>
</mat-dialog-actions>