<div>
    <div class="search-menu">
        <div class="icon-menu">
            <mat-icon (click)="openMenu()">menu</mat-icon>
        </div>
        <div class="input-wrapper">
            <mat-icon class="input-icon">search</mat-icon>
            <input [(ngModel)]="filtroTexto" type="text" placeholder="Buscar por Nombre, Apellido o DNI..." appUppercase
                class="input" />
        </div>
    </div>
    <div class="header-secuence">
        <div style="display: flex; flex-direction: column; gap: 0.4rem;">
            <div class="selected">Gestión de Clientes</div>
            <div class="subTitle">Administra tu cartera de clientes premium</div>
        </div>
        <div>
            <button class="btn btn-create" (click)="openCreateDialog()">
                <mat-icon>add</mat-icon> Nuevo
                Cliente</button>
        </div>
    </div>
    <div class="container-card">
        <div class="card">
            <div class="card-title">Total de Clientes</div>
            <div class="card-value">{{ clientes.length }}</div>
            <div class="footer-card">+12 este mes</div>
        </div>
        <div class="card">
            <div class="card-title">Clientes Activos</div>
            <div class="card-value">3</div>
            <div class="footer-card">73.8% del total</div>
        </div>
        <div class="card">
            <div class="card-title">Clientes VIP</div>
            <div class="card-value">10</div>
            <div class="footer-card">18.75% del total</div>
        </div>
        <div class="card">
            <div class="card-title">Ticket Promedio Soles</div>
            <div class="card-value">S/. 2,845</div>
            <div class="footer-card">+8% del total</div>
        </div>
        <div class="card">
            <div class="card-title">Ticket Promedio Dolares</div>
            <div class="card-value">US$ 2,845</div>
            <div class="footer-card">+8% del total</div>
        </div>
    </div>

    <div class="table-container">
        <div class="table-actions">
            <div class="selected">Lista de Clientes</div>

        </div>
        <div class="table-scroll">
            <div class="table-body">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Contacto</th>
                            <th>Ultimo Servicio</th>
                            <!-- <th>Próxima Cita</th> -->
                            <th>Servicios</th>
                            <th>Gasto Total</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cli of clientes | filtroCliente:filtroTexto:filtroEstado:filtroGenero | slice:(paginaActual-1)*filasPorPagina:(paginaActual*filasPorPagina)"
                            (click)="openEditDialog(cli)">
                            <td>
                                <div class="cliente-info">
                                    <div class="avatar-circle">
                                        {{ getInitials(cli.names) }}
                                    </div>
                                    <div class="cliente-details">
                                        <div class="cliente-name">
                                            {{ cli.names }}
                                        </div>
                                        <div class="cliente-document">
                                            {{cli.documentIdentificationType.name}}: {{ cli.documentIdentificationNumber
                                            }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="cliente-contact">
                                    <div class="cliente-phone">
                                        <mat-icon>phone</mat-icon>

                                        <div class="phone-main">
                                            {{ getPrimaryPhone(cli.numbers) || 'Sin teléfono' }}
                                        </div>

                                        <button (click)="$event.stopPropagation()" *ngIf="cli.numbers?.length > 1"
                                            mat-button [matMenuTriggerFor]="phonesMenu" class="phone-more-btn">
                                            +{{ cli.numbers.length - 1 }} más
                                        </button>

                                        <mat-menu #phonesMenu="matMenu">
                                            <button mat-menu-item *ngFor="let c of cli.numbers">
                                                <mat-icon>phone</mat-icon>

                                                <span>
                                                    <strong *ngIf="c.isPrimary">Principal</strong>
                                                    <strong *ngIf="!c.isPrimary">{{ c.contactName || c.type }}</strong>
                                                    : {{ c.number }}
                                                </span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                    <div class="cliente-email">
                                        <mat-icon>email</mat-icon>
                                        <div>
                                            {{ cli.email }}
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="cliente-address">
                                    <mat-icon>house</mat-icon>

                                    <div class="phone-main">
                                        {{ getPrimaryAddress(cli.addresses) || 'Sin dirección' }}
                                    </div>

                                    <button (click)="$event.stopPropagation()" *ngIf="cli.addresses?.length > 1"
                                        mat-button [matMenuTriggerFor]="addressesMenu" class="phone-more-btn">
                                        +{{ cli.addresses.length - 1 }} más
                                    </button>

                                    <mat-menu #addressesMenu="matMenu">
                                        <button mat-menu-item *ngFor="let c of cli.addresses">
                                            <mat-icon>house</mat-icon>

                                            <span>
                                                <strong *ngIf="c.isPrimary">Principal</strong>
                                                <strong *ngIf="!c.isPrimary">{{ c.addressName }}</strong>
                                                : {{ c.address }}
                                            </span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </td>
                            <!-- <td>
                                <div style="display: flex; align-items: center; gap: 0.3rem;">
                                    <mat-icon>calendar_month</mat-icon>
                                    <div>20-09-2025</div>

                                </div>
                            </td> -->
                            <td>
                                12
                            </td>
                            <td>
                                {{ 2500 | currency:'PEN':'symbol':'1.2-2' }}
                            </td>
                            <td>
                                <span style="cursor: pointer;" (click)="$event.stopPropagation()" *ngIf="cli.isActive"
                                    class="chip activo">Activo</span>
                                <span *ngIf="!cli.isActive" class="chip suspendido">Suspendido</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pagination">
            <span>Filas por página: </span>

            <span>{{(paginaActual-1)*filasPorPagina+1}} -
                {{paginaActual*filasPorPagina > clientes.length ? clientes.length : paginaActual*filasPorPagina}}
                de {{clientes.length}}</span>
            <button class="paginacion-icon" (click)="paginaAnterior()"
                [disabled]="paginaActual===1"><mat-icon>chevron_left</mat-icon></button>
            <button class="paginacion-icon" (click)="paginaSiguiente()"
                [disabled]="paginaActual*filasPorPagina>=clientes.length"><mat-icon>chevron_right</mat-icon></button>
        </div>
    </div>

</div>