<div>
    <!-- BUSCADOR -->
    <div class="search-menu">
        <div class="icon-menu">
            <mat-icon (click)="openMenu()">menu</mat-icon>
        </div>

        <div class="input-wrapper">
            <mat-icon class="input-icon">search</mat-icon>
            <input
                [(ngModel)]="filtroTexto"
                type="text"
                placeholder="Buscar por Nombre o DNI..."
                class="input"
            />
        </div>
    </div>

    <!-- HEADER -->
    <div class="header-secuence">
        <div style="display:flex; flex-direction:column; gap:0.4rem; margin-bottom: 1rem;">
            <div class="selected">Gestión de Empleados</div>
            <div class="subTitle">Administra el personal de tu empresa</div>
        </div>

        <div>
            <button class="btn btn-create" (click)="openCreateDialog()">
                <mat-icon>add</mat-icon>
                Nuevo Empleado
            </button>
        </div>
    </div>

    <!-- CARDS -->
    <!-- <div class="container-card">

        <div class="card">
            <div class="card-title">Total de Empleados</div>
            <div class="card-value">{{ empleados.length }}</div>
            <div class="footer-card">Registrados en el sistema</div>
        </div>

        <div class="card">
            <div class="card-title">Empleados Activos</div>
            <div class="card-value">
                {{ empleados.filter(e => e.isActive).length }}
            </div>
            <div class="footer-card">Disponibles actualmente</div>
        </div>

        <div class="card">
            <div class="card-title">Suspendidos</div>
            <div class="card-value">
                {{ empleados.filter(e => !e.isActive).length }}
            </div>
            <div class="footer-card">Acceso bloqueado</div>
        </div>

        <div class="card">
            <div class="card-title">Roles</div>
            <div class="card-value">
                {{ empleados.length }}
            </div>
            <div class="footer-card">Usuarios del sistema</div>
        </div>

    </div> -->

    <!-- TABLA -->
    <div class="table-container">
        <div class="table-actions">
            <div class="selected">Lista de Empleados</div>
        </div>
        <div class="table-scroll">
            <div class="table-body">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>Empleado</th>
                            <th>Usuario</th>
                            <th>Contacto</th>
                            <th>Rol</th>
                            <th>Género</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                        *ngFor="let emp of empleados 
                        | filtroEmpleado:filtroTexto:filtroEstado 
                        | slice:(paginaActual-1)*filasPorPagina:(paginaActual*filasPorPagina)"
                        (click)="openEditDialog(emp)"
                        >
                            <!-- EMPLEADO -->
                            <td>
                                <div class="cliente-info">
                                    <div class="avatar-circle">
                                        {{ getInitials(emp.names) }}
                                    </div>
                                    <div class="cliente-details">
                                        <div class="cliente-name">
                                            {{ emp.names }}
                                        </div>
                                        <div class="cliente-document">
                                            {{ emp.documentIdentificationType }} :
                                            {{ emp.documentNumber }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!-- USERNAME -->
                            <td>
                                {{ emp.username }}
                            </td>
                            <!-- CONTACTO -->
                            <td>
                                <div class="cliente-contact">
                                    <div class="cliente-email">
                                        <mat-icon>email</mat-icon>
                                        {{ emp.email }}
                                    </div>
                                </div>

                            </td>
                            <!-- ROL -->
                            <td>
                                {{ emp.roleName }}
                            </td>
                            <!-- GENERO -->
                            <td>
                                {{ emp.gender }}
                            </td>
                            <!-- ESTADO -->
                            <td>
                                <span
                                    *ngIf="emp.isActive"
                                    class="chip activo"
                                    (click)="$event.stopPropagation()"
                                >
                                    Activo
                                </span>
                                <span
                                    *ngIf="!emp.isActive"
                                    class="chip suspendido"
                                    (click)="$event.stopPropagation()"
                                >
                                    Suspendido
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- PAGINACION -->
        <div class="pagination">
            <span>
                {{(paginaActual-1)*filasPorPagina+1}} -
                {{paginaActual*filasPorPagina > empleados.length ? empleados.length : paginaActual*filasPorPagina}}
                de {{empleados.length}}
            </span>
            <button class="paginacion-icon"
                (click)="paginaAnterior()"
                [disabled]="paginaActual===1">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <button class="paginacion-icon"
                (click)="paginaSiguiente()"
                [disabled]="paginaActual*filasPorPagina>=empleados.length">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </div>
</div>