.app-container {
  display: flex;
  position: relative;

  .subContainer {
    flex: 1;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;

    &.fondo {

      .fondoPortada {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: right center;
        display: block;
        box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.4);
        animation: aparecer 1s ease-out forwards;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }

    &.login {
      display: flex;
      flex-direction: column;

      .card-login {
        background: white;
        border-radius: 1.5rem;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
        min-width: calc(20vw);
        min-height: calc(13vw);
        position: relative;
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
          top: calc(-18vh + 75px);
          left: 50%;
          width: calc(17vw);
          height: auto;
          // transform: translateX(-50%);
        }

        .container-inputs {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-top: 3.2rem;
          width: 90%;
        }

        button {
          background-color: var(--color-primary);
          color: white;
          border-radius: 0.3rem;
          padding: 1rem 4rem;
          font-weight: 400;
          margin-top: 1.5rem;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #cf1537;
          }
        }


      }

      // Footer text se mantiene en la parte inferior
      .footer-text {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: #333;
        padding: 1rem;
      }
    }
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 1200px) {

  .subContainer.login {
    position: absolute !important;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-login {
      min-width: 40vw !important;
      min-height: 15vw !important;
      padding: 2rem 1.5rem;

      .logo {
        top: calc(-18vh + 60px) !important;
        width: 35vw !important;
      }

      .container-inputs {
        margin-top: 2rem !important;
        width: 100%;
      }

      button {
        padding: 0.75rem 2rem;
      }
    }
  }
}

@media (max-width: 500px) {

  .subContainer.login {
    position: absolute !important;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-login {
      min-width: 65vw !important;
      min-height: 15vw !important;
      padding: 2rem 1.5rem;

      .logo {
        top: calc(-18vh + 75px) !important;
        width: 65vw !important;
      }

      .container-inputs {
        margin-top: 2rem !important;
        width: 100%;
      }

      button {
        padding: 0.75rem 2rem;
      }
    }
  }
}

.custom-spinner {
  margin-top: 1.5rem;
}

::ng-deep .custom-spinner circle {
  stroke: #2362e9;
}