<div class="dashboard-owner">
  <div class="period-selector">
    <label>Periodo:</label>

    <select [(ngModel)]="mesSeleccionado" (change)="cambiarPeriodo()">
      <option *ngFor="let m of meses" [value]="m.value">
        {{ m.label }}
      </option>
    </select>
  </div>
  <!-- KPIs -->
  <div class="kpi-grid">
    <div class="kpi-card">
      <span class="kpi-title">Ventas MTD (S/)</span>
      <h2>{{ kpis?.ventasMtd | number:'1.0-0' }}</h2>
      <span class="kpi-variation positive">
        +{{ kpis?.ventasVariacion | number:'1.1-1' }}% vs mes ant.
      </span>
    </div>

    <div class="kpi-card">
      <span class="kpi-title"># Servicios MTD</span>
      <h2>{{ kpis?.serviciosMtd }}</h2>
      <span class="kpi-variation positive">
        +{{ kpis?.serviciosVariacion | number:'1.1-1' }}% vs mes ant.
      </span>
    </div>

    <div class="kpi-card">
      <span class="kpi-title">Ticket Promedio</span>
      <h2>S/ {{ kpis?.ticketPromedio | number:'1.1-1' }}</h2>
      <span class="kpi-variation positive">
        +{{ kpis?.ticketVariacion | number:'1.1-1' }}% vs mes ant.
      </span>
    </div>

    <div class="kpi-card">
      <span class="kpi-title">Desviación (S/)</span>
      <h2>S/ {{ kpis?.desviacionSoles | number:'1.0-0' }}</h2>
      <span class="kpi-subtitle">MTD vs mismo día mes ant.</span>
    </div>
  </div>

  <!-- Gráficos fila 2 -->
  <div class="grid-2">
    <div class="card">
      <h3>Ventas por tienda (MTD)</h3>
      <apx-chart *ngIf="chartReady4" [series]="ventasPorTiendaSeries" [chart]="barChart" [xaxis]="ventasPorTiendaXAxis"
        [plotOptions]="plotOptionsBar" [colors]="barColors">
      </apx-chart>
    </div>

    <div class="card">
      <h3>Servicios por tienda (MTD)</h3>
      <apx-chart *ngIf="chartReady2" [series]="serviciosPorTiendaSeries" [chart]="barChart"
        [xaxis]="serviciosPorTiendaXAxis" [plotOptions]="plotOptionsBar" [colors]="barColors">
      </apx-chart>
    </div>
  </div>

  <!-- Gráficos fila 3 -->
  <div class="grid-2">
    <div class="card">
      <h3>Ventas acumuladas (Mes actual vs anterior)</h3>
      <apx-chart *ngIf="chartReady3" [series]="ventasAcumuladasSeries" [chart]="lineChart"
        [xaxis]="ventasAcumuladasXAxis" [plotOptions]="plotOptionsBar" [colors]="barColors">
      </apx-chart>
    </div>

    <div class="card">
      <h3>Desviación MTD por tienda</h3>
      <apx-chart *ngIf="chartReady4" [series]="desviacionSeries" [chart]="barChart" [xaxis]="desviacionXAxis"
        [plotOptions]="plotOptionsBar" [colors]="barColors">
      </apx-chart>
    </div>
  </div>

  <div class="footer-container">
    <div class="footer">
      <div>Estilista</div>
      <div>Cnt. Servicios</div>
      <div>Monto Total</div>
      <div>Establecimiento</div>
    </div>

    <div>
      <div *ngFor="let item of topEstilistas" class="footer-row">
        <div>{{ item.estilista }}</div>
        <div>{{ item.cantidad }}</div>
        <div>S/ {{ item.importe | number:'1.0-0' }}</div>
        <div>{{ item.establecimiento }}</div>
      </div>
    </div>
  </div>

</div>