<h2 mat-dialog-title>
  {{ isAgregar ? 'Agregar Hijo' : 'Hijos del Cliente' }}
</h2>

<mat-dialog-content>
  <div *ngIf="!isAgregar && hijos.length === 0" class="text-muted">
    No hay hijos registrados.
  </div>

  <ul *ngIf="!isAgregar && !isEditar">
    <li *ngFor="let hijo of hijos" style="display: flex; gap: 1rem; align-items: center;">
      <span>
        {{ hijo.firstName }} {{ hijo.lastName }} -
        {{ hijo.fechaCumpleanios | date:'dd/MM/yyyy' }} - 
        {{ hijo.genero }}
      </span>

      <button class="btn-primary" (click)="editarHijo(hijo)">
        Editar
      </button>
    </li>
  </ul>

  <!-- FORMULARIO (AGREGAR / EDITAR) -->
  <div *ngIf="isAgregar || isEditar" class="form-grid" style="display: flex; flex-direction: column; gap: 1rem;">

    <input type="text" class="input" placeholder="Nombre *" [(ngModel)]="newChild.firstName" />

    <input type="text" class="input" placeholder="Apellido *" [(ngModel)]="newChild.lastName" />

    <input type="date" class="input" [(ngModel)]="newChild.fechaCumpleanios" />

    <select class="input" [(ngModel)]="newChild.genero">
      <option value="" disabled selected>Seleccione género *</option>
      <option value="NIÑO">NIÑO</option>
      <option value="NIÑA">NIÑA</option>
    </select>

    <button class="btn-primary" style="justify-content: center !important"
      (click)="isEditar ? updateHijo() : addHijo()">

      {{ isEditar ? 'GUARDAR CAMBIOS' : 'AGREGAR' }}
    </button>
  </div>


</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="btn-cancelar" (click)="cancel()">Cancelar</button>
</mat-dialog-actions>