<h2 mat-dialog-title>
  {{ isAgregar ? 'Agregar Hijo' : 'Hijos del Cliente' }}
</h2>

<mat-dialog-content>
  <div *ngIf="!isAgregar && hijos.length === 0" class="text-muted">
    No hay hijos registrados.
  </div>

  <ul *ngIf="!isAgregar">
    <li *ngFor="let hijo of hijos">
      {{ hijo.firstName }} {{ hijo.lastName }} - {{ hijo.fechaCumpleanios | date:'dd/MM/yyyy' }}
    </li>
  </ul>

  <div *ngIf="isAgregar" class="form-grid" style="display: flex; flex-direction: column; gap: 1rem;">
    <input type="text" class="input" placeholder="Nombre *" [(ngModel)]="newChild.firstName" />
    <input type="text" class="input" placeholder="Apellido *" [(ngModel)]="newChild.lastName" />
    <input type="date" class="input" [(ngModel)]="newChild.fechaCumpleanios" />
    <button class="btn-primary" style="justify-content: center !important" (click)="addHijo()">AGREGAR</button>
    
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="btn-cancelar" (click)="cancel()">Cancelar</button>
  <!-- <button class="btn-primary" (click)="save()">Guardar</button> -->
</mat-dialog-actions>