<h2 mat-dialog-title>
    {{ data ? 'Editar Empleado' : 'Crear Empleado' }}
</h2>

<mat-dialog-content>

    <div class="subTitle">Información Personal</div>

    <div class="form-grid">

        <input
            type="text"
            class="input"
            placeholder="Nombre completo *"
            [(ngModel)]="emp.names"
        >

        <select class="select" [(ngModel)]="emp.gender">
            <option value="" disabled>Género *</option>
            <option value="M">Hombre</option>
            <option value="F">Mujer</option>
        </select>

        <select class="select" [(ngModel)]="emp.documentIdentificationType">
            <option value="" disabled>Tipo de Documento *</option>
            <option value="DNI">DNI</option>
            <option value="RUC">RUC</option>
            <option value="CARNET_EXTRANJERIA">Carnet Extranjería</option>
        </select>

        <input
            type="text"
            class="input"
            placeholder="Número de Documento *"
            [(ngModel)]="emp.documentIdentificationNumber"
        >

        <input
            type="email"
            class="input"
            placeholder="Correo Electrónico *"
            [(ngModel)]="emp.email"
        >

    </div>

    <div class="subTitle">Información del Sistema</div>

    <div class="form-grid">

        <!-- SOLO CREAR -->
        <input
            *ngIf="!data"
            type="text"
            class="input"
            placeholder="Usuario *"
            [(ngModel)]="emp.username"
        >

        <select class="select" [(ngModel)]="emp.roleCode" [disabled]="roleCode === 'COLLAB'">

            <option value="" disabled>Rol *</option>

            <option *ngIf="roleCode == 'OWNER'" value="OWNER">
                Dueño
            </option>

            <option *ngIf="roleCode == 'ADMIN' || roleCode == 'OWNER'" value="ADMIN">
                Administrador
            </option>

            <option value="COLLAB">
                Colaborador
            </option>

        </select>

        <input
            *ngIf="roleCode == 'ADMIN' || roleCode == 'OWNER'"
            class="input"
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="password"
            placeholder="Nueva contraseña"
        >

    </div>

</mat-dialog-content>

<mat-dialog-actions align="end" style="display:flex; gap:0.5rem">

    <button class="btn-cancelar" (click)="cancelar()">
        CANCELAR
    </button>

    <button
        class="btn-primary"
        (click)="guardar()"
        [disabled]="
            !emp.names ||
            !emp.email ||
            !emp.documentIdentificationType ||
            !emp.documentIdentificationNumber
        "
    >
        {{ data ? 'ACTUALIZAR' : 'CREAR' }}
    </button>

</mat-dialog-actions>